    <div id="cv" class="container rounded-3 text-rigth p-3 shadow-lg p-4 mb-4 bg-white">
        <div class="row">
            <div class="col-12 p-21">
                <h3>
                    <b>Proyectos</b>
                </h3>
            </div>
            <div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h4><b>SIAL</b> Sistema Informático de Almacenamiento de Legajos</h4>
                        <p>Archivador de Legajos del Personal Activo y Pasico de la UNLP</p>
                    </li>
                    <li class="list-group-item"><h4><b>SIHUBI</b> Sistema de Huella Biométrica</h4>
                        <p>Sistema de Control de Asistencia mediante marcaciones en relojes biométricos</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
