    <div id="cv" class="container rounded-3 text-rigth p-3 shadow-lg p-4 mb-4 bg-white">    
        <h3>
            <b>Educación</b>
        </h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h4>Argentina Programa</h4>
                    <P>Plan Argentina Programa</P></li>
                <li class="list-group-item"><h4>CCNA - Routing and Switching</h4>
                    <P>Cisco Networking Academy - CeSPI</P></li>
                <li class="list-group-item"><h4>Cybersecurity Essentials</h4>
                    <P>Cisco Networking Academy</P></li>
                <li class="list-group-item"><h4>NDG Linux Essentials</h4>
                    <P>Cisco Networking Academy</P></li>
            </ul>
    </div>