    <div id="cv" class="container rounded-3 text-rigth p-3 shadow-lg p-4 mb-4 bg-white">
        <div class="col-12 p-21">
            <h3>
                <b>Hard & Soft Skills</b>
            </h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5>HTML</h5>
                <div class="container">
                    <div class="skills html">
                    </div>
                </div>
            </li>
            <li class="list-group-item"><h5>CSS</h5>
                <div class="container">
                    <div class="skills css">
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <h5>JavaScript</h5>
                <div class="container">
                    <div class="skills js">
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <h5>Python</h5>
                <div class="container">
                    <div class="skills py">
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <h5>SQL</h5>
                <div class="container">
                    <div class="skills sql">
                    </div>
                </div>
            </li>
        </ul>
    </div>
