    <div id="cv" class="container rounded-3 text-rigth p-3 shadow-lg p-4 mb-4 bg-white">
        <h3>
            <b>Experiencia</b>
        </h3>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h4>Mantenimiento de Redes</h4>
                    <P>DITESI - Facultad de Ciencias Económincas - Universidad Nacional de La Plata</P>
                </li>
                <li class="list-group-item"><h4>Asistente Técnico Informático</h4>
                    <P>DATI - Dirección General de Personal - Universidad Nacional de La Plata</P></li>
                <li class="list-group-item"><h4>Auditor Tecnológico</h4>
                    <P>CeSPI - Universidad Nacional de La Plata</P></li>
            </ul>
    </div>